#canvas, #stats {
    font-family: monospace;
    font-size: 13px;
    background-color: black;
    color: white;
    line-height: 1;
    overflow: hidden;
}

#canvas {
    margin-bottom: 0;
}

#stats {
    font-size: 14px;
    cursor: default;
    border: none;
    padding: 10px 12px;
}

#chat-container {
    font-family: monospace;
    color: white;
}

#chat-output {
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
    background-color: black;
}

#chat-input {
    background-color: black;
    color: white;
}

#chat-input::placeholder {
    color: white;
}
